@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	header {
	  @apply lg:container sm:container mobile:container mx-auto;
	}
	article {
		@apply lg:container sm:container mobile:container mx-auto;
	}
}

@layer components {
    .post > ul, .down ul {
        list-style: disc;
        padding-inline: 2rem;
        padding-block: 1rem;
    }
    .post > ol, .down ol {
        list-style: decimal;
        padding-inline: 2rem;
        padding-block-end: 1rem;
    }
    blockquote {
        font-style: italic;
    }
}