---
export interface Props {
  heading: string;
}
const { heading } = Astro.props;
---
<style>
.tilted {
    position: relative;
    width: 100%;
    height: 400px;
    z-index: 0;
}

.tilted:after {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background: var(--segment-green-100);
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    transform-origin: top left;
    transform: skewY(-4deg);
    box-shadow: inset 0 12px 9px -10px rgba(0, 0, 0, 0.4);
}

.tilted:before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background: var(--segment-green-100);
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transform: skewY(4deg);
    box-shadow: inset 0 12px 10px -10px rgba(0, 0, 0, 0.4);
}
</style>
<article class="tilted flex justify-center">
    <section class="up flex flex-col justify-center items-center">
        <h3 class="text-xl font-medium my-3">{ heading }</h3>
        <p class="max-w-screen-sm mx-3">
            <slot/>
        </p>
    </section>
</article>