<style>
.footer a:hover {
    font-weight: 500;
}
.footer > ul, .footer > ol {
    list-style: none;
    list-style-type: none !important;
}
</style>

<article class="footer original-purple grid sm:grid-cols-2 gap-1 mt-8 px-3 py-4 rounded-t-md">
    <div class="mb-8">
        <section>
            <ul class="list-none">
                <li>Bradford Chamber Business Park</li>
                <li>New Lane</li>
                <li>Laisterdyke</li>
                <li>Bradford</li>
            </ul>
            <br/>
            <a href="http://www.google.com/maps/place/Bradford%20Chamber%20Business%20Park" target="_blank">View on Google Maps</a>
            <br/>
        </section>
    </div>
    <div class="grid grid-cols-2 mb-8">
        <section>
            <ul class="list-none">
                <li><a href="/about">About Us</a></li>
                <li><a href="/diagnosis">Diagnosis</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/employers">Employers</a></li>
            </ul>
        </section>
        <section>
            <ul class="list-none">
                <li><a href="/contact">Contact</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </section>
    </div>
    <div class="text-sm">© 2014-2021 Aspiedent CIC - All rights reserved</div>
</article>