<style>
.footer {
    background-color: #d1d2f9;
}
.footer a:hover {
    font-weight: 500;
}
</style>

<article class="footer grid sm:grid-cols-2 gap-1 mt-16 px-3 py-4">
    <div class="mb-8">
        <section>
            <ul>
                <li>Bradford Chamber Business Park</li>
                <li>New Lane</li>
                <li>Laisterdyke</li>
                <li>Bradford</li>
            </ul>
            <br/>
            <a href="http://www.google.com/maps/place/Bradford%20Chamber%20Business%20Park" target="_blank">View on Google Maps</a>
            <br/>
        </section>
    </div>
    <div class="grid grid-cols-2 mb-8">
        <section>
            <ul>
                <li><a href="/about">About Us</a></li>
                <li><a href="/diagnosis">Diagnosis</a></li>
                <li><a href="/careers">Careers</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/employers">Employers</a></li>
            </ul>
        </section>
        <section>
            <ul>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </section>
    </div>
    <div class="text-sm">© 2014-2021 Aspident CIC - All rights reserved</div>
</article>