---
const fullprofiletitle = 'Redy to start your full neurodiversity profile?'
---
<article>
    <section>
        <h3>{fullprofiletitle}</h3>
        <button>Click here to book one</button>
    </section>
</article>