<style lang="scss">
.company {
	font-family: 'Alice', sans-serif;
    line-height: inherit;
}
.company-header {
    flex-direction: column;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 0.75rem;
    // border-top: 1px solid var(--accent-gold-400);
}
.title {
    display: flex;
	font-size: 0.75rem;
	line-height: 1rem;
	letter-spacing: 0.05em;
	word-spacing: 0.2em;
    justify-content: center;
}
.links li a {
	line-height: 1rem;
	padding-inline: 1.75rem;
}

.nav {

	&__toggle {
		position: absolute;
		cursor: pointer;
		margin-inline: 0.5rem;
		right: 0.5rem;
        top: 0.5rem;

		svg {
			width: 1.5rem;
			fill: purple;
		}

		.close {
			display: none;
		}

		.menu {
			margin-top: 0.2rem;
		}
	}

	&__checkbox {
		display: none;
	}

	&__menu {
		display: flex;
		flex-direction: column;
		align-items: center;

		li {
            list-style: none;
			display: none;
		}

        li:first-of-type {
            padding-top: 0.75rem;
        }

        li:last-of-type {
            padding-bottom: 0.75rem;
        }

		a {
			color: inherit;
            text-decoration: none;
			border: none;
		}

	}
}

// Toggle the hamburger menu in mobile view
#nav__checkbox:checked ~ ul.nav__menu li {
	display: inline-block;
}

//Change from menu to close icon on tap
#nav__checkbox:checked ~ label.nav__toggle .close {
	display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
	display: none;
}

// Desktop view
@media only screen and (min-width: 800px) {
  .nav {
    &__toggle {
		display: none;
    }

    &__menu {
		flex-direction: row;

		li {
			display: block;

            &:first-of-type {
                padding-top: 0;
            }

            &:last-of-type {
                padding-bottom: 0;
            }

            &:first-child > a {
                }

			&:not(:first-child) > a {
				padding-inline: 1.25rem;
				border-left: 1px solid var(--accent-gold-400);
			}

            a:hover {
                font-weight: 500;
            }
		}

    }
  }
}

@media only screen and (min-width: 1024px) {
    .nav {
        &__menu {
            li {
                &:not(:first-child) > a {
                    padding-inline: 1.75rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 800px) {
    .logo-company {
        flex-direction: column;
    }
    .title {
        max-width: 100%;
    }
}

@media only screen and (max-width: 660px) {
    .title {
        flex-direction: column;
    }
}

:global(.original-purple) {
    color: var(--accent-gold-200);
    // background-color: var(--segment-purple-500);
    background-image: url('/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
:global(.purple-400) {
    color: var(--accent-gold-200);
    background-color: var(--segment-purple-400);
}
</style>
<header class="original-purple py-4 rounded-md">
	<article>
		<a href="/">
			<section class="company-header flex items-center">
				<div class="logo-company flex items-center mx-3">
					<img class="mr-3" src="/assets/logo/Aspiedent.png" width="161.8px" height="161.8px"/>
					<span class="company md:text-8xl text-6xl">Aspiedent</span>
				</div>
				<div class="title-container title uppercase">
                    <span>Autism, Aspergers and Neurodiversity</span>&nbsp;<span>Training and Consulting</span>
				</div>
			</section>
		</a>
	</article>
</header>

<header class="purple-400 py-2 rounded-md">
	<article class="nav links flex text-base leading-7">
		<input type="checkbox" id="nav__checkbox" class="nav__checkbox">
		<label for="nav__checkbox" class="nav__toggle">
			<svg class="menu" viewBox="0 0 448 512" width="100" title="bars">
				<path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" />
			</svg>
			<svg class="close" viewBox="0 0 384 512" width="100" title="times">
				<path d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z" />
			</svg>
		</label>
		<ul class="nav__menu">
            <li><a href="/about">
				About
			</a></li>
            <li><a href="/diagnosis">
				Diagnosis
			</a></li>
            <li><a href="/careers">
				Careers
			</a></li>
            <li><a href="/education">
				Education
			</a></li>
            <li><a href="/employers">
				Employers
			</a></li>
            <li><a href="/contact">
				Contact
			</a></li>
            <li><a href="/blog">
				Blog
			</a></li>
		</ul>
	</article>
</header>
