---
const heroImage = '/social.jpg'

export interface Props {
  herotitle: string;
}
const { herotitle } = Astro.props;
---
<style>
.hero {
    color: var(--accent-gold-100);
    background-image: linear-gradient(to right, var(--segment-red-400), var(--segment-purple-400), var(--segment-blue-400), var(--segment-green-300));
}
</style>
<article class="hero flex flex-col justify-center items-center h-96 rounded-md">
    <section class="flex mx-3 flex-col justify-center items-center">
        <h1 class="text-4xl font-bold">{ herotitle }</h1>
        <p class="py-3">
            <slot/>
        </p>
    </section>
</article>