<article>
    <section>
        <h3>Sample title</h3>
        <h4>Sample subtitle</h4>
        <form>
            <fieldset>
                <label class="block">
                    <span>Email address</span>
                    <input type="email"/>
                </label>
            </fieldset>
        </form>
    </section>
</article>