---
export interface Props {
  sampleProfileHeading: string;
  segmentColor: string;
}
const { sampleProfileHeading, segmentColor } = Astro.props;
const segmentClass = `segment-${segmentColor} flex flex-col justify-center items-center`
---
<style>
input {
    outline: none !important;
    resize: none !important;
}
input[type=email] {
    color: inherit;
    resize: none !important;
    outline: none !important;
    border: 1px solid #49326b;
}
input:focus {
    color: inherit;
    resize: none !important;
    outline: none !important;
    border: 1px solid #c99b40;
}
label, label:focus {
    border: none;
    outline: none;
}
</style>
<article class={segmentClass}>
    <section class="flex flex-col justify-center items-center py-20">
        <h3 class="text-lg font-medium my-4">{ sampleProfileHeading }</h3>
        <h4>Enter your email address here and we will send you the questions.</h4>
        <form>
            <fieldset class="flex">
                <label class="block outline-none focus:outline-none">
                    <input type="email" class="outline-none focus:outline-none" placeholder="Your best email"/>
                </label>
                <button class="action" type="button">Submit</button>
            </fieldset>
        </form>
    </section>
</article>