---
const heroImage = '/social.jpg'

export interface Props {
  herotitle: string;
  bgcolor: string;
}
const { herotitle, bgcolor } = Astro.props;
---
<style>
.hero {
    color: var(--accent-gold-100);
}
</style>
<article class="hero flex flex-col justify-center items-center h-96" style={bgcolor}>
    <section class="flex mx-3 flex-col justify-center items-center">
        <h1 class="text-4xl font-bold">{ herotitle }</h1>
        <p class="py-3">
            <slot/>
        </p>
    </section>
</article>