<style>
article > section {
	padding: 2rem;
	color: var(--segment-purple-500);
	border-radius: 100px;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}
article > section > a {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
article > section > a > div {
	display: flex;
	align-items: baseline;
	margin-bottom: 1rem;;
}
article > section > a > div > h2 {
	font-weight: 600;
	font-size: x-large;
	margin-right: 1rem;
}

.diagnosis {
	background-color: var(--segment-blue-200);
}
.careers {
	background-color: var(--segment-green-200);
}
.education {
	background-color: var(--segment-red-200);
}
.employers {
	background-color: var(--segment-purple-200);
}
article section a button {
	margin-top: 1.5rem;
	padding: 0.5rem;
	border: 1px solid white;
	border-radius: 3px;
	font-weight: 500;
}
article section a p {
	width: 250px;
}
</style>
<style lang="scss">
article {
	& section {
		position: relative;
		z-index: 0;
		display: flex;
		flex-flow: column wrap;
		overflow: hidden;

		& a::before {
			content: '';
			display: none;
			width: 100%;
			height: 15%;
			position: absolute;
		}
		& a:hover::before {
			content: '';
			display: block;
			background: rgba(255, 255, 255, 0.15);
			z-index: -1;
			top: 0;
			left: 0;
			transform-origin: bottom left;
			transform: skewY(-4deg);
		}
		& a::after {
			content: '';
			display: none;
			width: 100%;
			height: 15%;
			position: absolute;
		}
		& a:hover::after {
			content: '';
			display: block;
			background: rgba(255, 255, 255, 0.1);
			z-index: -1;
			bottom: 0;
			left: 0;
			transform-origin: bottom right;
			transform: skewY(-4deg);
		}
	}
}
</style>
<article class="grid sm:grid-cols-2 mabile:grid-cols-1
					xl:gap-16 lg:gap-16 md:gap-12 sm:gap-8 mobile:gap-3
					xl:px-40 xl:py-12
					lg:px-40 lg:py-12
					md:px-12 ms:py-12
					sm:px-0 sm:py-4
					mobile:mx-auto mobile:px-8 mobile:py-4">
	<section class="diagnosis">
		<a href="/diagnosis">
			<div>
				<h2>Diagnosis</h2>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
				</svg>
			</div>
			<p>
				Our neurodiversity profiling service has helped people to understand themselves and
				move forward during or after a diagnosis of autism or other neurodiverse condition.
			</p>
			<button>Learn more</button>
		</a>
	</section>
	<section class="careers">
		<a href="/careers">
			<div>
				<h2>Careers</h2>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
				</svg>
			</div>
			<p>
				Our service has helped neurodiverse individuals enter suitable employment by 
				finding career opportunities that match and to develop their career to be the best they can be.
			</p>
			<button>Learn more</button>
		</a>
	</section>
	<section class="education">
		<a href="/education">
			<div>
				<h2>Education</h2>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path d="M12 14l9-5-9-5-9 5 9 5z" />
					<path d="M12 14l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14z" />
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 14l9-5-9-5-9 5 9 5zm0 0l6.16-3.422a12.083 12.083 0 01.665 6.479A11.952 11.952 0 0012 20.055a11.952 11.952 0 00-6.824-2.998 12.078 12.078 0 01.665-6.479L12 14zm-4 6v-7.5l4-2.222" />
				</svg>
			</div>
			<p>
				Our support and neurodiversity profiling service has helped children thrive at school and 
				helped them to cope with transitions as they grow up.
			</p>
			<button>Learn more</button>
		</a>
	</section>
	<section class="employers">
		<a href="/employers">
			<div>
				<h2>Employers</h2>
				<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
				</svg>
			</div>
			<p>
				Our service has helped organisations and HR derive maximum benefit
				by understanding and supporting their neurodiverse colleagues.
			</p>
			<button>Learn more</button>
		</a>
	</section>
	<div class='segment'>
		<div class="inner-box"></div>
		<div class="inner-box"></div>
		<div class="inner-box"></div>
	</div>
</article>