---

---
<style>
.full-name {
	font-family: 'Alice', sans-serif;
}
.teammate p{
	margin-block: 1rem;
}
.same-h.img {
	width: 100%;
	max-height: 325px !important;
	object-fit: cover;
}
.bg-name {
	background-color: var(--segment-blue-100);
}
</style>
<div class="flex flex-col justify-center pb-16 mb-12">
	<span class="w-100 mx-auto pb-4 text-2xl"><b>Meet the Team</b></span>
	<article class="grid justify-items-stretch mobile:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 mobile:gap-y-12 md:gap-0">
		<section class="m-3 justify-self-stretch flex flex-col justify-start bg-white rounded-md overflow-hidden">
			<img src="/jen.jpg">
			<div>
				<div class="p-3 bg-name rounded-b-md mb-3">
					<h2 class="full-name">Jen Blacow</h2>
				</div>
				<div class="teammate px-3">
					<b>Hi, my name is Jen. I support Elizabeth with achieving the impossible.</b>
					<p>
						Many people ask me how I ended up working with Dr Elizabeth Guest at Aspiedent.
						My answer is usually something along the lines of ‘falling into it’ or not being sure what I wanted to do after I completed my university degree.
					</p>

					<p>
						Digging deeper, I have always had an innate drive to help everybody and make a positive impression on people.
						I am also fascinated by people in the sense that I want to understand them and know how they tick.
						When working with us at Aspiedent you should know that you are working with people who genuinely care about you or your business.
					</p>

					<b>What I can do for you</b>
					<p>
						As a person with severe OCD, I understand and relate to how hard it is for some people
						to fit in or to cope with everyday things such as going to work.
						I also have a deep interest in HR and am a fully qualified HR Professional.
					</p>  

					<p>
						I am keen to use my personal and professional knowledge to help employees and
						managers make the right decisions when it comes to workplace diversity and inclusion.
						In turn, helping you get the recognition and career success that you deserve.
					</p>

					<p>
						I know how frustrating it is to be misunderstood.
						I want to help all willing employees (and their managers) to be better understood and valued in the workplace.
					</p>
				</div>
			</div>
		</section>
		<section class="m-3 justify-self-stretch flex flex-col justify-start bg-white rounded-b-md overflow-hidden">
			<img src="/elizabeth.jpg">
			<div>
				<div class="p-3 bg-name rounded-b-md mb-3">
					<h2 class="full-name">Dr Elizabeth Guest</h2>
				</div>
				<div class="teammate px-3">
					<b>Hi, my name is Elizabeth and I have spent most of my life being told that what I want to achieve is impossible.</b>
					<p>
						I have also spent most of my life achieving the so-called impossible.
					</p>
					<p>
						But that’s just part of the story. The truth is, things that most people find straightforward, like
						catching a train or going shopping, are near impossible for me.
					</p>
					<p>Not to mention, I don’t like wearing shoes for very long because it makes it harder to interact with people.</p>
					<p>I am autistic.</p>
					

					<b>Background</b>
					<p>
						After graduating in 1989 with a 1st class Honours degree in Maths, I completed my PhD in Artificial Intelligence.
						My PhD project was state of the art for at least 20 years.
					</p>

					<p>
						I speak 4 different languages and have a University level teaching qualification.
						Once, I went and pretended to be a Linguist in Sudan for 18 months;
						(when I owned up after 6 months and told them I was not really a linguist but actually a mathematician and computer scientist, they didn't believe me).
						I worked on analysing 7 languages, when most people on that programme normally work on just one language.
						Spending many years as a senior researcher, I worked on highly complex projects such as designing technology to detect
						whether somebody is carrying weapons in the street.
					</p>

					<b>Now I want to solve your problems.</b>
					<p>
						Now I run my own business and have turned my expertise to solving complex HR issues for employers.
						This means using my autistic savant skills to help you with Aspergers or neurodiverse workplace issues.
						It also means giving you the tools you need to lead on becoming a more diverse employer and have a happy and productive workforce.
					</p>

					<p>
						I develop and deliver excellent, influential training to organisations, large or small, about autism and neurodiversity.
						I also help individuals (autistic or not) to understand themselves better.
					</p>

					<p>
						All Aspiedent training and services are autism-led informed by my pioneering research and my experience as
						a practitioner providing services to autistic people.
					</p>

					<p>
						This combination has led to me inventing a priceless, unique tool which is used to find out and describe how
						different individuals think and perceive the world.
					</p>
				</div>
			</div>
		</section>
	</article>
</div>