---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';

const {title, description, permalink} = Astro.props;
---
<html lang={ 'en' }>
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
    <link rel="stylesheet" href={Astro.resolve("../styles/global.css")}/>
  </head>
  <style>
    body {
        color: #49326b;
        font-size: 16px;
    }
  </style>

  <body class="max-w-screen-lg mx-auto">
    <Header />
    <slot />
  </body>
</html>

