---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const {title, description, permalink, segment} = Astro.props;
const bodyClass = `${segment !== undefined ? segment : ''} max-w-screen-lg mx-auto`
---
<style>
.bg-color {
    background-color: var(--accent-yellow-100);
}
</style>
<html lang={ 'en' }>
	<head>
		<BaseHead title={title} description={description} permalink={permalink} />
	</head>
	<style>
		body {
			color: var(--segment-purple-500);
			font-size: 16px;
		}
	</style>

	<body class={bodyClass}>
        <div class="bg-color max-w-screen-lg">
            <Header />
                <slot />
            <Footer/>
        </div>
	</body>
</html>

